$menu-height: 2em;

/* Le UL général */
.menu {
    display: inline-table;
    position: relative;
    z-index: 2;
    height: $menu-height;

    line-height: $menu-height;
    vertical-align: middle;

    margin-bottom: 1em;
    
    /* Les éléments de premier niveau */
    li {
        background-color: $rgba-primary-4;
        float: left;
        margin-left: -1px;
        margin-top: -1px;
        height: $menu-height;

        border: 1px solid $rgba-primary-1;
        @include border-radius(2px);
        padding: 0 1em;


        @include transition(background, 0.1s);

        &:hover {
            text: $rgba-complement-1;
            background-color: $rgba-primary-0;
        }

        a {
            display: block;
        }

        i {
            font-size: 1em;
            vertical-align: middle;
        }
    }

}