.detail-table-container {
    @extend .table-container;

//    display: inline-block;

    table {
        width: 100%;
    }

    td, th {
        border: 0px;
        padding: 0.2em 0.5em;
        vertical-align: middle;

    }

    td.key {
//        text-align: right;
        font-weight: 600;

    }

    pre, textarea{
        font-family: inherit;
    }

    .full-width {
        width: 100%;
    }

}

