.table-container {
    margin-bottom: 2em;
    margin-top: 1em;

    td, th {
        padding: 0.2em 0.5em;
        vertical-align: middle;

    }

    td.centered {
        text-align: center;
    }

    //Validation error
    td.validated .tooltip {
        display: none;
        position: absolute;

        background-color: transparentize($rgba-error, 0.2);
        border: 1px solid $rgba-complement-1;
        @include border-radius(3px);

        margin: 0.2em 1em;
        padding: 0.2em 0.5em;

        line-height: 1.5em;
        text-align: left;
    }
    td.validated:hover .tooltip {
        display: block;
    }

    input.ng-invalid.ng-touched {
        border: 1px solid $rgba-error;
    }

}