//http://paletton.com/#uid=20Y0u0kVYvIpA1HzYpUsyIn13++
// Colors !
$rgba-primary-0: rgba(253,170,  0,1);   // Main Primary color */
$rgba-primary-1: rgba( 13, 10,  3,1);
$rgba-primary-2: rgba(206,139,  0,1);
$rgba-primary-3: rgba(255,181, 28,1);
$rgba-primary-4: rgba(255,252,247,1);

$rgba-complement-0: rgba(  3, 50,170,1);    // Main Complement color */
$rgba-complement-1: rgba(  3,  4,  9,1);
$rgba-complement-2: rgba( 13, 49,139,1);
$rgba-complement-3: rgba( 42, 89,206,1);
$rgba-complement-4: rgba(248,250,255,1);

