body {
    margin-top: 1em;
}

.adapt-to-content {
    display: inline-block;
}

#search-form {
    margin-right: 0;
}

.centered {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

table .glyphicon {
    color: @text-color;
}

.global-actions {
    padding-left: 15px;
    padding-right: 15px;
    .glyphicon {
        color: @text-color;
        font-size: 2em;
    }
}

.form-condensed .form-group {
    margin-bottom: 0.2em;
}
.detail-value p.editable-read {
    margin-top: 7px;
    margin-bottom: 0px;

}


pre {
    margin-top: 7px !important;

    margin-block-start: 0;
    margin-block-end: 0;
    font-family: @font-family-base;
    white-space: pre-wrap;
}

.sort-arrow {
    margin-left: 0.2em;
}

td.list-action {
    &:extend(.text-right);
    width:1px;
    white-space: nowrap;
}