body {
    margin-top: 1em;
}

#search-form {
    margin-right: 0;
}

.centered {
    text-align: center;
}

.clickable {
    cursor: pointer;
}
.table-nonfluid {
   width: auto !important;
}

.list-table-container {
    display: inline-block;
}
